body{
    background-color: black;
    color: white;
}
p{
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}
.container_conteudo{

    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    width: 1080px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.titulo{
    color: #1aff1a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.problema p{
    padding-top: 0.5em;
    
}

#lista_problemas{
    margin-top: 0.5em;
    padding-bottom: 0.25em;


}

#lista_problemas li{
    border-bottom: 1.5px solid lightgrey;
    padding-top: 0.25em;
}

.dados{
    margin-top: 0.5em;
}
.transito{
    margin-top: 0.5em;
}

#img_transito{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 500px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
}

.poluicao{
    margin-top: 1em;
}

.container_imagens{
    margin-top: 1em;
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;

}
.img_poluicao{
    width: 1080px;
    height: 400px;
    margin-right: 0.25em;
    box-shadow: 5px 5px 5px #0006;
}

.acidentes{
    margin-top: 1em;
    margin-bottom: 2em;
}

.img_transito{
    margin-top: 1em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 400px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
}

.img_acidente{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 980px;
    height: 400px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
}